# input指令

In [1]:
a = input("a = ")

a = 87

In [2]:
a

'87'

# 匯率換算

In [3]:
m = input("美金價格: ")

美金價格: 120

In [4]:
m

'120'

In [7]:
m * 30.5

TypeError: can't multiply sequence by non-int of type 'float'

In [8]:
float(m)*30.5

3660.0

In [13]:
m = input("美金價格: ")
twd = float(m)*30.5
print(twd)

美金價格: 128
3904.0

In [14]:
twd

3904.0

In [15]:
"合台幣"+twd+"元"

TypeError: can only concatenate str (not "float") to str

In [16]:
"合台幣"+str(twd)+"元"

'合台幣3904.0元'

In [17]:
m = input("美金價格: ")
twd = float(m)*30.5
print("合台幣"+str(twd)+"元")

美金價格: 128
合台幣3904.0元

# 拍拍機器人

In [20]:
mes = input(">> ")
print("拍拍")

>> 寫程式讚讚
拍拍